 <!--top-image -->
<!--<div class="top-image visible-lg">-->
<!--  <img src="/top-image.jpg" alt="" width ="100%">-->
<!--</div>-->

<div class="form signup text-center">
  <div class="container">
    <h2>新規登録</h2>
    <!--<div class="signup-btn google"><a href="/"><i class="fab fa-google"></i>  Googleで登録</a></div> -->
    <!--<div class="signup-btn instagram"><a href="/"><i class="fab fa-instagram"></i>  Instagramで登録</a></div> -->
    <!--<div class="signup-btn twitter"><a href="/"><i class="fab fa-twitter"></i>  Twitterで登録</a></div>-->
    <!--<h3>or</h3>-->
    <div class="signup-btn howdydrone" id="login-push"><img src="/drone-w.png" class="drone-w">  アカウント登録</div>
    
    <div class="form-field" id="login-modal">
          
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>
      
      <div class="field">
        <%= f.label :ユーザーネーム %><br />
        <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
      </div>
    
      <div class="field">
        <%= f.label :メールアドレス %><br />
        <%= f.email_field :email, autocomplete: "email" %>
      </div>
    
      <div class="field">
        <%= f.label :パスワード %>
        <% if @minimum_password_length %>
        <em>(半角英数 <%= @minimum_password_length %>文字以上)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password" %>
      </div>
    
      <div class="field">
        <%= f.label :パスワード（確認） %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>
      
      <input type="checkbox" required><a href="/terms"> 利用規約</a>と<a href="privacy">プライバシーポリシー</a>に同意する</input>
    
      <div class="actions">
        <%= f.submit "新規登録" %>
      </div>
    <% end %>
    </div>
  <p>※既にアカウントをお持ちの方は<a href="/users/sign_in">ログイン</a></p>
  </div>
</div>



