<p><%= @receiver.name %>様</p>
<p>いつもHOWDYDRONEをご利用いただきありがとうございます。</p>
<p>ユーザーが契約を確定しました<br>契約内容をご確認ください。</p>
<p>契約内容：</p>
<p>価格：<%= @agreement.price %></p>
<p>撮影予定日：<%= @agreement.date.strftime(" %Y年 %m月 %d日") %></p>
<p>納品予定日：<%= @agreement.due_date.strftime(" %Y年 %m月 %d日") %></p>
<p>メッセージ：<%= @agreement.other %></p>
<%= link_to("詳細を確認する", "") %>