<p><%= @receiver.name %>様</p>
<p>いつもHOWDYDRONEをご利用いただきありがとうございます。</p>
<p>パイロットが見積もりを作成しました。<br>確認後、契約を確定させてください。</p>
<p>見積もり内容：</p>
<p>価格：<%= @agreement.price %></p>
<p>撮影予定日：<%= @agreement.date.strftime(" %Y年 %m月 %d日") %></p>
<p>納品予定日：<%= @agreement.due_date.strftime(" %Y年 %m月 %d日") %></p>
<p>メッセージ：<%= @agreement.other %></p>
<%= link_to("詳細を確認する", "") %>