<!-- posts-index-wrapper -->
<div class="posts-index-wrapper">
<!-- Anniversary tags -->
  <div class="container">
    <div class="more-posts-tag">
      <h3>Anniversary</h3>
    </div>
    <div class="clear"></div>
    <!-- row -->
    <div class="row text-center"> <!--each文を使ってtravelタグのついたmovieから4つのmovieを表示-->
     <% @movies.each do |movie| %>
      <div class="item col-lg-3 col-md-6 col-sm-12">
        <div class="item-container ">
          <iframe width="100%" src="<%= movie.url %>" frameborder="0" allowFullScreen mozallowfullscreen webkitAllowFullScreen></iframe>
          <div class="movie-information text-left">
            <%= link_to("#{movie.title}", "/movies/#{movie.id}/show") %>
          </div>
          <ul class="contents-icon text-left">
            <div class="user-information text-left">
              <% @user = User.find_by(id: movie.user_id) %>
              <% @pilot = Pilot.find_by(user_id: @user.id) %>
              <%= image_tag @user.gravatar_url%> <!--パイロット画像の取得-->
              <%= link_to("#{@user.name}", "/pilots/#{@pilot.id}/show") %>
              <div class="clear"></div>
            </div>
          </ul>
          <div class="offer-link">
            <a class="btn btn-primary mb-4" href="/pilots/<%= movie.pilot_id %>/show">パイロット詳細</a> <!--/polots/:id/showへのリンク-->
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
  </div>