<div id="loader-bg">
  <img src="/Preloader_1.gif">
</div>
<!-- posts-index-wrapper -->
<div class="posts-index-wrapper">
  <div class="container">
    <div class="posts-tag">
      <h3>Wedding</h3>
    </div>
    <a href="/movies/wedding_more"><p class="hidden-xs">view more...</p></a>
    <div class="clear"></div>
    <div class="row text-center"> <!--each文を使ってweddingタグのついたmovieから4つのmovieを表示-->
      <div class="bxslider">
      <% @weddingMovies.each do |movie| %>
        <div class="item">
          <div class="item-container ">
            <iframe width="100%" src="<%= movie.url %>" frameborder="0" allowFullScreen mozallowfullscreen webkitAllowFullScreen></iframe>
            <div class="movie-information text-left">
              <%= link_to("#{movie.title}", "/movies/#{movie.id}/show") %>
            </div>
            <ul class="contents-icon text-left">
              <div class="user-information text-left">
                <% @user = User.find_by(id: movie.user_id) %>
                <% @pilot = Pilot.find_by(user_id: @user.id) %>
                <%= image_tag @user.gravatar_url%> <!--パイロット画像の取得-->
                <%= link_to("#{@user.name}", "/pilots/#{@pilot.id}/show") %>
                <div class="clear"></div>
              </div>
            </ul>
            <div class="offer-link">
              <a class="btn btn-primary mb-4" href="/pilots/<%= movie.pilot_id %>/show">パイロット詳細</a> <!--/polots/:id/showへのリンク-->
            </div>
          </div>
        </div>
      <% end %>
      </div>
    </div>
    <p class="visible-xs">view more...</p>
  </div>

  <div class="container">
    <div class="posts-tag">
      <h3>Travel</h3>
    </div>
    <a href="/movies/travel_more"><p class="hidden-xs">view more...</p></a>
    <div class="clear"></div>
    <div class="row text-center"> <!--each文を使ってtravelタグのついたmovieから4つのmovieを表示-->
      <ul class="bxslider">
      <% @travelMovies.each do |movie| %>
      <div class="item">
        <div class="item-container ">
          <iframe width="100%" src="<%= movie.url %>" frameborder="0" allowFullScreen mozallowfullscreen webkitAllowFullScreen></iframe>
          <div class="movie-information text-left">
            <%= link_to("#{movie.title}", "/movies/#{movie.id}/show") %>
          </div>
          <ul class="contents-icon text-left">
            <div class="user-information text-left">
              <% @user = User.find_by(id: movie.user_id) %>
              <% @pilot = Pilot.find_by(user_id: @user.id) %>
              <%= image_tag @user.gravatar_url%> <!--パイロット画像の取得-->
              <%= link_to("#{@user.name}", "/pilots/#{@pilot.id}/show") %>
              <div class="clear"></div>
            </div>
          </ul>
          <div class="offer-link">
            <a class="btn btn-primary mb-4" href="/pilots/<%= movie.pilot_id %>/show">パイロット詳細</a> <!--/polots/:id/showへのリンク-->
          </div>
        </div>
      </div>
      <% end %>
      </ul>
    </div>
    <p class="visible-xs">view more...</p>
  </div>

  <div class="container">
    <div class="posts-tag">
      <h3>Anniversary</h3>
    </div>
    <a href="/movies/anniversary_more"><p class="hidden-xs">view more...</p></a>
    <div class="clear"></div>
    <div class="row text-center"> <!--each文を使ってanniversaryタグのついたmovieから4つのmovieを表示-->
      <ul class="bxslider">     
      <% @anniversaryMovies.each do |movie| %>
      <div class="item">
        <div class="item-container ">
          <iframe width="100%" src="<%= movie.url %>" frameborder="0" allowFullScreen mozallowfullscreen webkitAllowFullScreen></iframe>
          <div class="movie-information text-left">
            <%= link_to("#{movie.title}", "/movies/#{movie.id}/show") %>
          </div>
          <ul class="contents-icon text-left">
            <div class="user-information text-left">
              <% @user = User.find_by(id: movie.user_id) %>
              <% @pilot = Pilot.find_by(user_id: @user.id) %>
              <%= image_tag @user.gravatar_url%> <!--パイロット画像の取得-->
              <%= link_to("#{@user.name}", "/pilots/#{@pilot.id}/show") %>
              <div class="clear"></div>
            </div>
          </ul>
          <div class="offer-link">
            <a class="btn btn-primary mb-4" href="/pilots/<%= movie.pilot_id %>/show">パイロット詳細</a> <!--/polots/:id/showへのリンク-->
          </div>
        </div>
      </div>
      <% end %>
      </ul>
    </div>
    <p class="visible-xs">view more...</p>
  </div>

  <div class="container">
    <div class="posts-tag">
      <h3>Other</h3>
    </div>
    <a href="/movies/other_more"><p class="hidden-xs">view more...</p></a>
    <div class="clear"></div>
    <div class="row text-center"> <!--each文を使ってanniversaryタグのついたmovieから4つのmovieを表示-->
      <ul class="bxslider">     
      <% @otherMovies.each do |movie| %>
      <div class="item">
        <div class="item-container ">
          <iframe width="100%" src="<%= movie.url %>" frameborder="0" allowFullScreen mozallowfullscreen webkitAllowFullScreen></iframe>
          <div class="movie-information text-left">
            <%= link_to("#{movie.title}", "/movies/#{movie.id}/show") %>
          </div>
          <ul class="contents-icon text-left">
            <div class="user-information text-left">
              <% @user = User.find_by(id: movie.user_id) %>
              <% @pilot = Pilot.find_by(user_id: @user.id) %>
              <%= image_tag @user.gravatar_url%> <!--パイロット画像の取得-->
              <%= link_to("#{@user.name}", "/pilots/#{@pilot.id}/show") %>
              <div class="clear"></div>
            </div>
          </ul>
          <div class="offer-link">
            <a class="btn btn-primary mb-4" href="/pilots/<%= movie.pilot_id %>/show">パイロット詳細</a> <!--/polots/:id/showへのリンク-->
          </div>
        </div>
      </div>
      <% end %>
      </ul>
    </div>
    <p class="visible-xs">view more...</p>
  </div>
</div>
