<div class="movies-new">
  <div class="container text-center">
    <div class="form-heading">動画投稿</div>
    <div class="form movies-form">
      <div class="form-body">
        <% @movie.errors.full_messages.each do |message| %>
          <div class="form-error">
            <%= message %>
          </div>
        <% end %>

        <%= form_tag("/movies/create") do %>
          <p>タイトル</p>
          <input name="title"></input>
          <p>パイロットID</p>
          <input name="pilot_id" value="<%= @pilot.id %>"></input>
          <p>パイロット名</p>
          <input name="pilot_name" value="<%= @pilot.name %>"></input>
          <p>URL</p>
          <input name="url"></input>
          <p>タグ</p>
          <select name="tag">
            <option value=""></option>
            <option value="wedding">Wedding</option>
            <option value="travel">Travel</option>
            <option value="anniversary">Anniversary</option>
            <option value="other">Other</option>
          </select>
          <input class="submit" type="submit" value="動画投稿">
        <% end %>
      </div>
    </div>
  </div>
</div>