<div class="movie-show-wrapper">
  <div class="row">
    <div class="item col-lg-8 col-sm-12">
      <div class="item-container">
        <div class='vimeo'>
          <iframe src="<%= @movie.url %>" width='640' height='360' frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
        <% @user = User.find_by(id: @movie.pilot_id) %>
        <% @pilot = Pilot.find_by(id: @movie.pilot_id) %>
        <div class='movie-information'>
          <h2><%= @movie.title %></h2>
          <div class="offer-link">
            <a class="btn btn-primary" href="/pilots/<%= @pilot.id %>/show">パイロット詳細</a> <!--/polots/:id/showへのリンク-->
          </div>
          <div class="clear"></div>
        </div>
        <hr>
        <div class='user-information'>
          <h4><%= @pilot.name %></h4>
          <div class="clear"></div>
          <dl>
            <dt>ランク :</dt>
            <dd><%= @pilot.rank %><dd><!--user_skillの取得-->
            <div class="clear"></div>
            <dt>住所 :</dt>
            <dd><%= @pilot.adress %></dd><!--user_toolsの取得-->
            <div class="clear"></div>
            <dt>経歴 :</dt> 
            <dd><%= @pilot.skill %></dd><!--user_priceの取得-->
            <div class="clear"></div>            
            <dt>使用機材 :</dt> 
            <dd><%= @pilot.tools %></dd><!--user_priceの取得-->
            <div class="clear"></div>            
            <dt>値段 :</dt> 
            <dd>¥<%= @pilot.price %>~</dd><!--user_priceの取得-->
            <div class="clear"></div>            
            <dt>加入保険 : </dt> 
            <dd><%= @pilot.insuarance %></dd><!--user_priceの取得-->
            <div class="clear"></div>            
            <dt>メッセージ : </dt> 
            <dd><%= @pilot.message %></dd><!--user_priceの取得-->
            <div class="clear"></div>
          </dl>
        </div> 
        <hr>
        <div class="comment-wrapper">
          <h4><%= @comments.count %>件のコメント</h4>
          <%= form_tag("/comments/#{@movie.id}/create") do %>
            <input name="content" placeholder="公開コメントを追加する"></input>
            <input class="btn btn-primary" type="submit" value="コメント">
            <div class="clear"></div>
          <% end %>
            <% @comments.each do |c| %>
          <div class="content">
            <p><%= c.content %></p>
            <% user = User.find_by(id: c.user_id) %>
            <p>by <%= user.name %></p>
            <% if current_user.id == c.user_id %>
              <%= link_to("削除", "/comments/#{c.id}/destroy", method: :post) %>
            <% end %>
          </div>
          <% end %>
          <hr>
        </div>
      </div>
    </div>
    <div class="relevant-movie-wrapper col-lg-4 col-sm-12">
      <h4>関連動画</h4>
      <% @relevantMovies.shuffle.first(3).each do |relevantmovie| %>
      <div class="movie-item text-center">
        <iframe src="<%= relevantmovie.url %>" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        <a href="/movies/<%= relevantmovie.id %>/show"><%= relevantmovie.title %></a>
      </div>
      <% end %>
    </div>
  </div>
</div>
