<main>
  <div class="heading">
    <div class="container text-center">
      <h2 class="mx-auto">ユーザー詳細</h2>
      <h3 class="mb-5"><%= @user.name %></h3>
      <% if @user.id == current_user.id %>
      <% else %>
        <% if @isRoom == true %>
          <p><a class="btn btn-primary btn-md" href="/rooms/<%= @roomId %>">チャットへ</a>
        <% else %>
          <%= form_for @room do |f| %>
            <%= fields_for @entry do |e| %>
              <%= e.hidden_field :user_id, :value=> @user.id %>
            <% end %>
            <%= f.submit "チャットを始める", :class=>"btn btn-primary" %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</main>


