 <!--top-image -->
<div class="top-image visible-lg">
  <img src="/top-image.jpg" alt="" width ="100%">
</div>


<div class="form reissue-password text-center">
  <div class="container">
    <h2>パスワードをお忘れですか?</h2>
    <p>下記のフォームに登録済みのメールアドレスを入力し、<br>パスワードの再発行を押してしてください<br>登録済みのメールアドレスに新しいパスワードが送付されます</p>
    
    <div class="form-field">
      
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= devise_error_messages! %>
      
        <div class="field">
          <%= f.label :メールアドレス %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>
      
        <div class="actions">
          <%= f.submit "パスワードの再発行" %>
        </div>
      <% end %>
      <p>※既にアカウントをお持ちの方は<a href="/users/sign_in">こちら</a></p>
      <p>※新規登録は<a href="/users/sign_up/">こちら</a></p>
        
    </div>
  </div>
</div>

