<main>
  <div class="heading mypage">
    <div class="container text-center">
      <h2 class="mx-auto mb-5">マイページ</h2>
      <p class="mb-5">あなたのユーザーネーム：<%= current_user.name %></p>
      <% if current_user.pilot_flg != true %>
        <% if @entries.empty? %>
          <h4 class="mb-3">交渉中のパイロット</h4>
          <p class="mb-3">※ 交渉中のパイロットはいません<br>空撮を依頼するパイロットを探しましょう</p>
          <a class="btn btn-primary" href="/movies/index">動画一覧から探す</a>
        <% else %>
          <h4 class="mt-5 mb-3">交渉中のパイロット</h4>
            <ul>
              <% @entries.each do |e| %>
              <% @room = Room.find(e.room_id) %>
                <% @room.entries.each do |re| %>
                <% @user = User.find_by(id: re.user_id) %>
                <% @pilot = Pilot.find_by(user_id: @user.id) %>
                  <% if @user.id != current_user.id %>
                    <li class="mb-5">
                      <%= link_to "#{@user.name}","/pilots/#{@pilot.id}/show" %>
                      <%= link_to("チャットに移動", "rooms/#{re.room_id}", class: "btn btn-primary") %>
                    </li>
                  <% end %>
                <% end %>
              <% end %>
            </ul>
        <% end %>
        <% if @agreements_u.empty? %>
          <h4 class="mt-5 mb-3">契約中のパイロット</h4>
          <p>契約中のパイロットはいません。<br>パイロットが契約を作成するとここに表示されます。</p>
        <% else %>
          <h4 class="mt-5 mb-3">契約中のパイロット</h4>
            <ul>
            <% @agreements_u.each do |a| %>
            <% @a_pilot = Pilot.find_by(user_id: a.pilot_id) %>
              <li class="mb-5">
                <%= link_to "#{@a_pilot.name}","/pilots/#{@a_pilot.id}/show" %>
                <%= link_to("契約内容の確認", "/agreements/#{a.id}/show", class: "btn btn-danger") %>
              </li>
            <% end %>
            </ul>
        <% end %>
      <% else %>
        <% if @entries.empty? %>
          <h4 class="mb-3">交渉中のユーザーはいません</h4>
          <p class="mb-5">※ ユーザーからメッセージが届いた場合にはこのページに表示されます</p>
        <% else %>
          <h4 class="mb-5">交渉中のユーザー</h4>
            <ul>
              <% @entries.each do |e| %>
              <% @room = Room.find(e.room_id) %>
                <% @room.entries.each do |re| %>
                <% @user = User.find_by(id: re.user_id) %>
                <% @pilot = Pilot.find_by(user_id: @user.id) %>
                  <% if @user.id != current_user.id %>
                    <li class="mb-5">
                      <%= link_to("#{@user.name}", "rooms/#{re.room_id}") %>
                      <%= link_to("チャットに移動", "rooms/#{re.room_id}", class: "btn btn-primary") %>
                    </li>
                  <% end %>
                <% end %>
              <% end %>
            </ul>
        <% end %>
        <% if @agreements_p %>
            <ul>
            <% @agreements_p.each do |a| %>
            <h4 class="mb-5">契約中のユーザー</h4>
            <% @a_user = User.find_by(id: a.user_id) %>
              <li class="mb-5">
                <%= link_to "#{@a_user.name}", "" %>
                <%= link_to("契約内容の確認", "/agreements/#{a.id}/show", class: "btn btn-danger") %>
              </li>
            <% end %>
            </ul>
        <% end %>
      <% end %>  
    </div>
  </div>
</main>

