<div id="modal-signup">
  <div class="container text-center">
    <h2>新規登録</h2>
    <div class="signup-btn google"><a href="/"><i class="fab fa-google"></i>  Googleアカウントで登録</a></div>  <!--登録リンク挿入-->
    <div class="signup-btn twitter"><a href="/"><i class="fab fa-twitter"></i>  Twitterで登録</a></div>  <!--登録リンク挿入-->
    <div class="signup-btn instagram"><a href="/"><i class="fab fa-instagram"></i>Instagramで登録</a></div> <!--登録リンク挿入-->
    <p>または、<br>HOWDY DRONEアカウントの作成</p>
    <div class="signup-input"><input type="text" name="email" placeholder="メールアドレス"></div>
    <div class="signup-input"><input type="text" name="password" placeholder="パスワード"></div>
    <div class="confirm">
      <input type="checkbox" id="check" /><label for="check"><a href="/terms" target="_blank">利用規約</a>、および<a href="/privacy" target="_blank">プライバシーポリシー</a>に同意します</label>
      <input type="submit" id="submit" value="登録" />  <!--登録リンク挿入-->
    </div>
  </div>
</div>
