<div id="loader-bg">
  <img src="/Preloader_1.gif">
</div>

<div class="top-movie">
  <img src="/top-image.jpg" alt="top-image" width ="100%" height="100%">
  <!-- index-link -->
  <div class="top-index-link">
    <div class="container text-center">
      <a href="/movies/index">パイロットを探す</a>
    </div>
  </div>
</div>
<div class="clear"></div>



<!-- service-wrapper -->
<div class="service-wrapper">
  <div class="container">
    <!-- service-heading -->
    <div class="service-heading text-center slide-bottom" data-plugin-options='{"speed":500, "reverse": false}'>
      <h2>Service</h2>
      <p>- HOWDY DRONEとは -</p>
    </div>
    <!-- service-contents -->
    <div class="service-contents">
      <div class="container">
        <!-- service-item1 -->
        <div class="service-item row slide-bottom" data-plugin-options='{"speed":500, "reverse": false}'>
          <% 1.upto(6) do |i| %>
          <div class="service-image col-md-2 col-xs-4 px-3 my-3">
            <img src="/sample<%=i%>.jpg" width="100%"></img>
          </div>
          <% end %>          
        </div>
      </div>
    </div>
    <!-- service-description -->
    <div class="service-description text-center">
      <p class="slide-bottom" data-plugin-options='{"speed":500, "reverse": false}'>HOWDY DRONE は、<br>空撮を依頼したいあなたと、<br class="visible-xs-block">ドローンパイロットをマッチングする<br class="visible-xs-block">プラットフォームです。</p>
      <p class="slide-bottom" data-plugin-options='{"speed":500, "reverse": false}'>独自の世界観と確かな技術を持った<br class="visible-xs-block">パイロットのみが在籍しており、 <br>撮影から編集までワンストップで<br class="visible-xs-block">空撮動画の作成を依頼することができます。</p>
      <p class="slide-bottom" data-plugin-options='{"speed":500, "reverse": false}'>あなたの”大切な思い出”を、空に残しましょう</p>
    </div>
  </div>
  <div class="angle hidden-xs">
    <p id="switch_jq_ani"><i class="fas fa-angle-down"></i> こんなシーンに</p>  
  </div>
</div>

<section id="hero" class="hero bg-slider hidden-xs">
  <div class="inner">
    <div class="copy">
    </div>
  </div>
</section>

<section class="content hidden-xs">
  <div class="inner">
    <div class="copy">
      <!-- flow-wrapper -->
      <div class="flow-wrapper">
        <div class="container">
          <!-- flow-heading -->
          <div class="flow-heading text-center slide-bottom" data-plugin-options='{"speed":500, "reverse": false}'>
            <h2>Flow</h2>
            <p>- ご利用の流れ -</p>
          </div>
          <!-- flow-contents -->
          <div class="flow-contents row slide-bottom" data-plugin-options='{"speed":500, "reverse": false}'>
            <!-- flow-item1 -->
            <div class="flow-item col-md-4 text-center">
              <img src="/pilot.png" alt="" width="50%">
              <img src="/arrow.png" alt="" width="10%">
              <h4>パイロットを探す</h4>
              <p>動画一覧から<br class="visible-xs-block">撮影を依頼するパイロットを探します。</p>
              <p>ダイレクトメッセージにて日程・撮影のこだわりなど</p>
              <p>詳細をご相談の上、契約を確定してください。</p>
            </div>
            <!-- flow-item2 -->
            <div class="flow-item col-md-4 text-center">
              <img src="/photograph.png" alt="" width="50%">
              <img src="/arrow.png" alt="" width="10%">
              <h4>撮影</h4>
              <p>依頼するパイロットが決まリましたら</p>
              <p>ご希望の日程にパイロットが撮影に伺います。</p>
              <p>お支払いは動画の納品後となります。</p>
            </div>
            <!-- flow-item3 -->
            <div class="flow-item col-md-4 text-center">
              <img src="/movie.png" alt="" width="50%">
              <h4>納品</h4>
              <p>動画の編集までパイロットが一貫して承ります。</p>
              <p>納品された動画にご納得いただけましたら、</p>
              <p>検品ボタンを押して決済を確定させてください。</p>
            </div>
          </div>
        </div>
      </div>
      
      <!-- index-link -->
      <div class="index-link slide-bottom"  data-plugin-options='{"speed":500, "reverse": false}'>
        <div class="container text-center">
          <a href="/movies/index">パイロットを探す</a>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- flow-wrapper -->
<div class="flow-wrapper visible-xs">
  <div class="container">
    <!-- flow-heading -->
    <div class="flow-heading text-center">
      <h2>Flow</h2>
      <p>- ご利用の流れ -</p>
    </div>
    <!-- values-contents -->
    <div class="flow-contents row">
      <!-- flow-item1 -->
      <div class="flow-item col-md-4 text-center">
        <img src="/pilot.png" alt="" width="50%">
        <h4>パイロットを探す</h4>
        <p>動画一覧から<br class="visible-xs-block">撮影を依頼するパイロットを探します。</p>
        <p>ダイレクトメッセージにて日程・撮影のこだわりなど</p>
        <p>詳細をご相談の上、契約を確定してください。</p>
      </div>
      <!-- flow-item2 -->
      <div class="flow-item col-md-4 text-center">
        <img src="/photograph.png" alt="" width="50%">
        <h4>撮影</h4>
        <p>依頼するパイロットが決まリましたら</p>
        <p>ご希望の日程にパイロットが撮影に伺います。</p>
        <p>お支払いは動画の納品後となります。</p>
      </div>
      <!-- flow-item3 -->
      <div class="flow-item col-md-4 text-center">
        <img src="/movie.png" alt="" width="50%">
        <h4>納品</h4>
        <p>動画の編集までパイロットが一貫して承ります。</p>
        <p>納品された動画にご納得いただけましたら、</p>
        <p>検品ボタンを押して決済を確定させてください。</p>
      </div>
    </div>
  </div>
</div>

<!-- index-link -->
<div class="index-link slide-bottom visible-xs" data-plugin-options='{"reverse": false}'>
  <div class="container text-center">
    <a href="/movies/index">パイロットを探す</a>
  </div>
</div>