<div class="user-index-wrapper">
  <div class="container">
    <div class="rank-tag">
      <h3>Amature</h3>
    </div>
    <div class="clear"></div>
    <!-- row -->
    <div class="row text-center" data-plugin-options='{"reverse": false}'> <!--rankがaceのパイロットをランダムに４人表示-->
      <!-- item -->
        <div class="item col-lg-3 col-md-6">
          <div class="item-container">
            <img src="/bronds.png" alt="" width="30px"> <!--user_lankの取得-->
            <img src="/user_sample.jpg" alt="" width="70%"> <!--user_imageの取得-->
            <h2>Sample Name</h2>  <!--user_nameの取得-->
            <div class="offer-link">
              <a href="/pilots/:id/show">このパイロットの動画を見る</a> <!--/pilots/:id/showへのリンク-->
            </div>
            <ul>
              <li>skill:</li> <!--user_skillの取得-->
              <li>tools:</li> <!--user_toolsの取得-->
              <li>price:</li> <!--user_priceの取得-->
            </ul>
          </div>
        </div>
        <div class="item col-lg-3 col-md-6">
          <div class="item-container">
            <img src="/bronds.png" alt="" width="30px"> <!--user_lankの取得-->
            <img src="/user_sample.jpg" alt="" width="70%"> <!--user_imageの取得-->
            <h2>Sample Name</h2>  <!--user_nameの取得-->
            <div class="offer-link">
              <a href="/pilots/:id/show">このパイロットの動画を見る</a> <!--/pilots/:id/showへのリンク-->
            </div>
            <ul>
              <li>skill:</li> <!--user_skillの取得-->
              <li>tools:</li> <!--user_toolsの取得-->
              <li>price:</li> <!--user_priceの取得-->
            </ul>
          </div>
        </div>
    </div>
　</div>
</div>
    