<!-- user-index-wrapper -->
<div class="user-index-wrapper">
  <div class="container">
    <!-- about-rank-->
    <div class="about-rank text-center">
      <a href="#">※パイロットのランクについて</a>
    </div>
    <div class="rank-tag">
      <h3>Ace</h3>
    </div>
    <a href='/pilots/ace_more.erb'><p class="hidden-xs">view more...</p></a>
    <div class="clear"></div>
    <!-- row -->
    <div class="row text-center" data-plugin-options='{"reverse": false}'> <!--rankがaceのパイロットをランダムに４人表示-->
    </div>
    <a href='/pilots/ace_more.erb'><p class="visible-xs">view more...</p></a>

    <div class="rank-tag">
      <h3>Pro</h3>
    </div>
    <a href='/pilots/pro_more.erb'><p class="hidden-xs">view more...</p></a>
    <div class="clear"></div>
    <!-- row -->
    <div class="row text-center" data-plugin-options='{"reverse": false}'> <!--rankがproのパイロットをランダムに４人表示-->
    </div>
    <a href='/pilots/pro_more.erb'><p class="visible-xs">view more...</p></a>


    <div class="rank-tag">
      <h3>Amature</h3>
    </div>
    <a href='/pilots/amature_more.erb'><p class="hidden-xs">view more...</p></a>
    <div class="clear"></div>
    <!-- row -->
    <div class="row text-center" data-plugin-options='{"reverse": false}'>  <!--rankがamatureのパイロットをランダムに４人表示-->
    </div>
    <a href='/pilots/amature_more.erb'><p class="visible-xs">view more...</p></a>
  </div>
</div>
