<div class="pilots-new">
  <div class="container text-center">
    <div class="form-heading">パイロット登録</div>
    <div class="form pilots-form">
      <div class="form-body">
        <% @pilot.errors.full_messages.each do |message| %>
          <div class="form-error">
            <%= message %>
          </div>
        <% end %>

        <%= form_tag("/pilots/create") do %>
          <p>ユーザーID</p>
          <input name="user_id"></input>
          <p>ユーザーネーム</p>
          <input name="name"></input>
          <p>ランク</p>
          <select name="rank">
            <option value=""></option>
            <option value="ace">Ace</option>
            <option value="pro">Pro</option>
            <option value="amature">Amature</option>
          </select>
          <p>住所</p>
          <input name="adress"></input>
          <p>スキル</p>
          <input name="skill"></input>
          <p>使用機材</p>
          <input name="tools"></input>
          <p>価格</p>
          <input name="price"></input>
          <p>加入保険</p>
          <input name="insuarance"></input>
          <p>メッセージ</p>
          <textarea name="message"></textarea>
          <input class="submit" type="submit" value="パイロット登録">
        <% end %>
      </div>
    </div>
  </div>
</div>