<div class="user-show-wrapper">
  <div class="background"></div>
  <div class="container">
    <div class="user-image">
      <%= image_tag @user.gravatar_url%>
      <h4><%= @user.name %></h4>
    </div>
    <div class="row">
      <div class="pilot-movie visible-lg">
        <iframe src="<%= @relevantMovies.first.url %>" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
      <div class="pilot-information">
        <h4 class="visible-lg"><%= @relevantMovies.first.title %></h4>
        <dl>
          <dt>ランク :</dt>
          <dd><%= @pilot.rank %><dd><!--user_skillの取得-->
          <div class="clear"></div>
          <dt>住所 :</dt>
          <dd><%= @pilot.adress %></dd><!--user_toolsの取得-->
          <div class="clear"></div>
          <dt>経歴 :</dt>
          <dd><%= @pilot.skill %></dd><!--user_priceの取得-->
          <div class="clear"></div>
          <dt>使用機材 :</dt>
          <dd><%= @pilot.tools %></dd><!--user_priceの取得-->
          <div class="clear"></div>
          <dt>値段 :</dt>
          <dd>¥<%= @pilot.price %>~</dd><!--user_priceの取得-->
          <div class="clear"></div>
          <dt>加入保険 : </dt>
          <dd><%= @pilot.insuarance %></dd><!--user_priceの取得-->
          <div class="clear"></div>
          <dt>メッセージ : </dt>
          <dd><%= @pilot.message %></dd><!--user_priceの取得-->
          <div class="clear"></div>
        </dl>
        <div class="offer-link">
          <% if current_user.pilot_flg != true %> 
            <%= link_to("このパイロットに空撮を依頼する", "/users/#{@pilot.user_id}/show", class: "btn btn-primary") %>
          <% end %>
        </div>
      </div>
    </div>
    <hr>
    <div class="relevantmovie-wrapper">
      <h4>このパイロットが撮影した動画</h4>
      <% @relevantMovies.drop(1).each do |relevantmovie| %>
      <div class="movie-item text-center">
        <iframe src="<%= relevantmovie.url %>" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        <a href="/movies/<%= relevantmovie.id %>/show"><%= relevantmovie.title %></a>
      </div>    
      <% end %>
    </div>
  </div>
</div>
