 <!--top-image -->
<!--<div class="top-image visible-lg">-->
<!--  <img src="/top-image.jpg" alt="" width ="100%">-->
<!--</div>-->



<div class="form login text-center">
  <div class="container">
    <h2>ログイン</h2>
    <!--<div class="signup-btn google"><a href="/"><i class="fab fa-google"></i>  Googleでログイン</a></div> -->
    <!--<div class="signup-btn instagram"><a href="/"><i class="fab fa-instagram"></i>  Instagramでログイン</a></div> -->
    <!--<div class="signup-btn twitter"><a href="/"><i class="fab fa-twitter"></i>  Twitterでログイン</a></div> -->
    <!--<h3>or</h3>-->
    <div class="signup-btn howdydrone" id="login-push"><img src="/drone-w.png" class="drone-w">  ログイン</div>
    <div class="form-field" id="login-modal">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :メールアドレス %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>
    
      <div class="field">
        <%= f.label :パスワード %><br />
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>
    
      <% if devise_mapping.rememberable? -%>
        <div class="password-field">
          <%= f.check_box :remember_me %>
          <%= f.label :パスワードを記憶する %>
        </div>
      <% end %>
    
      <div class="actions">
        <%= f.submit "ログイン" %>
      </div>
    <% end %>           
    </div>
    <p>※パスワードをお忘れの方は<a href="/users/password/new">こちら</a></p>
    <p>※Howdy Droneアカウントをお持ちでない方は<a href="/users/sign_up/">新規登録</a></p>
  </div>
</div>

