<main>
  <div class="heading room">
    <div class="container">
      <div class="dm-header text-center">
        <h2 class="mx-auto mb-5">ダイレクトメッセージ</h2>
        <h4 class="mb-3">参加者</h4>
        <% @entries.each do |e| %>
          <h5><strong><%= e.user.name%>さん</strong></h5>
        <% end %>
        <% if current_user.pilot_flg == true %>
        <% @entries.each do |e| %>
          <% if e.user_id != @current_user.id %>
            <%= link_to("契約を確定する", "/agreements/#{e.user_id}/new", class: "btn btn-danger", data:{ confirm: "契約の確定に進みます" }) %>
          <% end %>
        <% end %>
          <%= link_to("交渉を中断する", room_path(), method: :delete , class: "btn btn-warning", data:{ confirm: "本当に交渉を中断しますか？" }) %>
        <% else %>
          <%= link_to("交渉を中断する", room_path(), method: :delete , class: "btn btn-warning", data:{ confirm: "本当に交渉を中断しますか？" }) %>
        <% end %>
        <p class="mt-5">※　日程・金額・撮影場所・撮影へのこだわりなどをご相談の上、契約を確定させてください。<br>契約の確定前に本サービス上で直接連絡先を交換する行為は規約により禁止されております。</p>
      </div>
      
      <div class="dm-contents">
        <div class="dm-form text-center">
        <%= form_for @message do |f| %>
          <%= f.text_area :content, :placeholder => "メッセージを入力して下さい" , :size => "70*50" , :maxlength => "70" %>
          <%= f.hidden_field :room_id, :value => @room.id %>
          <br>
          <br>
          <%= f.submit "送信", :class=>"btn btn-primary" %>
        <% end %>
        </div>
        <hr>
        <% if @messages.present? %>
          <% @messages.each do |m| %>
            <strong><%= simple_format(m.content) %></strong>
            <small>by <strong><a href="/users/<%= m.user_id %>"><%= m.user.email %>さん</a></strong></small>
            <hr>
          <% end %>
        <% else %>
          <h3 class="text-center">メッセージはまだありません</h3>
        <% end %>
      </div>
    </div>
  </div>
</main>
