<main>
  <div class="heading agreements-new">
    <div class="container">
      <h2 class="form-heading text-center mx-auto">契約内容の確定</h2>
      <div class="form agreements-form text-center">
        <div class="form-body">
          <%= form_tag agreements_path do %>
            <p>依頼者名</p>
            <h5><%= @user.name %></h5>
            <%= hidden_field_tag :user_id, @user.id %>
            <p>金額（円）</p>
            <input name="price" type="number" required></input>
            <p>撮影予定日</p>
            <input name="date" type="date" required></input>
            <p>納品予定日</p>
            <input name="due_date" type="date" required></input>
            <p>撮影地</p>
            <input name="place" type="text" required></input>
            <p>連絡用メールアドレス</p>
            <input name="contact" type="email" required></input>
            <p>その他特記事項</p>
            <textarea name="other"></textarea>
            <input class="btn btn-primary" type="submit" value="契約内容の確定">
          <% end %>
        </div>
      </div>
    </div>
  </div>
</main>