<main>
  <div class="heading agreements-show">
    <div class="container">
      <h2 class="agreements-heading text-center mx-auto">契約内容の確認</h2>
      <div class="agreements-contents mx-auto">
        <dl>
          <dt>依頼者 :</dt>
          <dd><%= @user.name %></dd>
          <div class="clear"></div>
          <dt>パイロット :</dt>
          <dd><%= @pilot.name %></dd>
          <div class="clear"></div>
          <dt>金額 :</dt>
          <dd>¥<%= @agreement.price %></dd>
          <div class="clear"></div>
          <dt>撮影予定日 :</dt>
          <dd><%= @agreement.date.strftime(" %Y年 %m月 %d日") %></dd>
          <div class="clear"></div>
          <dt>納品予定日 :</dt>
          <dd><%= @agreement.due_date.strftime(" %Y年 %m月 %d日") %></dd>
          <div class="clear"></div>
          <dt>撮影地 : </dt>
          <dd><%= @agreement.place %></dd>
          <div class="clear"></div>
          <dt>メッセージ : </dt>
          <dd><%= @agreement.other %></dd>
          <div class="clear"></div>
          <dt>連絡先 :</dt>
          <dd><%= @agreement.contact %></dd>
          <div class="clear"></div>
          <dt>契約の確定状況 :</dt>
          <% if @agreement.agreement_flag == true %>
            <dd>確定済み</dd>
          <% else %>
            <dd style="color: red">未確定</dd>
          <% end %>
          </dd>
          <div class="clear"></div>
          <%= form_tag("/agreements/#{@agreement.id}/agree", method: :post) do %>
            <% if @agreement.agreement_flag != true && @agreement.user_id == current_user.id %>
              <div class="confirm mx-auto text-center">
                <div class="checkbox  mt-5 ml-5">
                  <input type="checkbox" required></input><span><a href="/terms">利用規約</a>を確認しました。</span>
                </div>
                <input class="btn btn-primary mt-4" type="submit" value="契約を確定する">
              </div>
            <% elsif @agreement.agreement_flag != true && @agreement.pilot_id == current_user.id %>
              <p>契約が未確定です。ユーザーが契約内容に同意すると契約が確定します。</p>
            <% end %>
          <% end %>
        </dl>
      </div>
    </div>
  </div>
</main>