// Place all the styles related to the agreements controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
    
.agreements-form{
  .form-body{
    margin-top:40px;
    h5{
      margin-bottom:30px;
    }
    p{
      margin-bottom:5px;
    }
    input{
      margin-bottom:30px;
      width:200px;
    }
    select{
      display:block;
      margin: 0 auto;
      width:200px;
      margin-bottom:50px;
    }
    textarea{
      width:200px;
      display:block;
      margin:0 auto;
    }
    .btn{
      width:120px;
      margin-top:50px;
    }
  }
}

.agreements-show{
  .agreements-contents{
    margin-top:50px;
    dl{
      width:280px;
      margin: 0 auto;
      dt{
        float:left;
        display:inline-block;
        width:50%;
      }
      dd{
        float:left;
        display:inline-block;
        width:50%;
      }
      p{
        margin-top:10px;
      }
    }
  }
}