/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bxslider
 *= require_self
 */
 // Custom bootstrap variables must be set or imported *before* bootstrap.
 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "colors";
 @import "home";
 @import "movies";
 @import "pilots";
 @import "device";
 @import "messages";
 @import "rooms";
 @import "agreements";


.clear{
  clear:both;
}
body{
  background: #f7f8f9;
}
p{
  color:$main-color;
  font-family:'Noto-Sans',sans-serif;
}
h4{
  color:$secondary-color;
  font-weight:bold;
  font-family:'Noto-Sans',sans-serif;
}
li{
  list-style:none;
}
// header
header{
  z-index:10;
  position:fixed;
  top:0;
  width:100%;
  height:50px;
  background:$header-color;
  opacity:0.8;
  .header-left{
    float:left;
    margin-left:11px;
    a{
      color:rgba(255,255,255,0.8);
      line-height:50px;
      img{
        margin-right:11px;
      }
    }
  }
  .header-right{
    float:right;
    p{
      color:rgba(255,255,255,0.8);
      background:rgba(112,112,112,0.3);
      padding:7px 30px;
      border-radius:3px;
      margin-top:8px;
      margin-bottom:8px;
      float:left;
    }
    .logout{
      color:rgba(255,255,255,0.8);
      background:rgba(112,112,112,0.3);
      padding:7px 30px;
      border-radius:3px;
      margin-top:7px;
      float:left;
    }
    img{
      margin:11px 20px;
    }
  }
}

header.hide{
  transform: translateY(-100%);
}
// footer
footer{
  width:100%;
  height:40px;
  background:$header-color;
  opacity:0.8;
  .footer-left{
    float:left;
    .copy-right{
      font-size:9px;
      line-height:40px;
      color:white;
      margin-left:20px;
      margin-bottom:0;
      p{
        margin:0;
      }
    }
  }
  .footer-right{
    float:right;
    li{
      float:left;
      font-size:12px;
      line-height:40px;
      margin-right:30px;
      list-style: none;
      a{
        color:white;
      }
    }
  }
}
/* フラッシュ ================================ */
.flash {
  padding: 10px 0;
  color: white;
  background: rgb(251, 170, 88);
  text-align: center;
  position: absolute;
  top: 50px;
  z-index: 10;
  width: 100%;
  border-radius: 0 0 2px 2px;
  font-size: 14px;
}
// signup-form
.signup-form{
  width:510px;
  margin:150px auto;
  a{
    text-decoration: none;
    color:black;
  }
  p{
    font-size:11px;
    margin-top:30px;
    margin-bottom:50px;
    a{
      text-decoration: underline;
    }
  }
}
// signup-btn
.signup-btn{
  width:240px;
  height:50px;
  margin:15px auto;
  background:black;
  line-height:50px;
  i{
    margin-right:10px;
  }
  a{
    display:inline-block;
    width:100%;
    height:100%;
    color:white;
  }
}
.google{
  background:rgba(219,74,57,1.0);
}
.twitter{
  background:rgba(0,172,237,1.0);
}
.signup-form .twitter{
  float:left;
}
.instagram{
  background-image: linear-gradient(-135deg,#1400c8,#b900b4,#f50000);
}
.signup-form .instagram{
  float:right;
}
.howdydrone{
  background: #607D8B;
  color:white;
}
.drone-w{
  height: 13px;
  width: 13px;
  margin-right: 5px;
}
.signup-form .drone-w{
  float:right;
}

.signup-input input{
  width:260px;
  height:40px;
  margin:5px auto;
}
.submit{
  color:white;
  width:120px;
  height:40px;
  margin-top:20px;
  margin-bottom:20px;
  background:rgba(96,125,139,1.0);
}

// modal-main
.modal-notice p{
  margin-top:10px;
  font-size:12px;
}
#modal-main{
  padding:15vh 0 0 0;
  display:none;
  width:100%;
  height:100%;
  background:rgba(255,255,255,0.9);
  position:fixed;
  top:0;
  z-index:100;
}
#modal-main .signup-btn{
  width:260px;
}
#modal-close{
  position:fixed;
  top:30px;
  right:30px;
}

// menu-modal
#menu-modal-main{
  display:none;
  padding:10vh 0 0 0;
  width:100%;
  height:100%;
  background:rgba(255,255,255,0.9);
  position:fixed;
  top:0;
  z-index:100;
}
#menu-modal-main a{
  display:block;
  font-weight:bold;
  margin:30px;
  color:black;
}
#menu-modal-close{
  position:fixed;
  top:15px;
  right:30px;
}

// heading
.heading{
  min-height:calc(100vh - 60px);
  padding-top:70px;
  padding-bottom:50px;
  h2{
    font-size:20px;
    width:300px;
    background:rgba(158,158,158,0.3);
    padding:20px 0;
  }
  ul{
    padding:0;
    li{
      list-style:none;
    }
  }
}
.close-modal{
  font-size: 25px;
  margin-bottom: 10px;
}

#loader-bg {
    background: #fff;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 10;
}
#loader-bg img {	
    background: #fff;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 10;
}