// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$gold-color: #DAA520;
$silver-color: #B2BABA;
$main-color: #9E9E9E;
$header-color: #212121;
$primary-color: #424242;
$secondary-color: #707070;
$sub-color :#BDBDBD;
$accent-color: #607D8B;
