.top-image{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-height: 100vh;
    opacity: 0.1;
}

.form{
    min-height:calc(100vh - 60px);
    position: relative;
    margin: 0 auto;
    overflow: hidden;
  .container{
    margin: 0 auto;
    margin-top:30px;
    padding-top:30px;
    height:100%;
    h2{
      font-weight:normal;
      margin-bottom:30px;
    }
    h3{
      font-weight:normal;
    }
    .form-field{
      display: none;
      margin-top:20px;
      .close-modal{
        float: right;
      }
      .field{
        label{
          margin-bottom:5px;
          font-weight:normal;
        }
        #user_name{
          display:inline-block;
          width:230px;
          height:30px;
          margin-bottom:10px;
        }
        #user_email{
          display:inline-block;
          width:230px;
          height:30px;
          margin-bottom:10px;
        }
        #user_password{
          display:inline-block;
          width:230px;
          height:30px;
          margin-bottom:10px;
        }
        #user_password_confirmation{
          display:inline-block;
          width:230px;
          height:30px;
          margin-bottom:30px;
        }
      }
      .password-field{
        margin-top:30px;
        label{
          font-weight:normal;
          color:$secondary-color;
        }
      }
      .actions{
        input{
          display:inline-block;
          width:150px;
          height:40px;
          background:$accent-color;
          color:white;
          border-radius:3px;
          margin-top:30px;
          margin-bottom:30px;
        }
        &:hover{
          opacity:0.7;
        }
      }
    }
  }
}

.reissue-password{
  position:relative;
  height:100vh;
  .container{
    height:500px;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    margin: auto;
  }
}

.field_with_errors{
  display:inline;
}