// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body{
   min-height: calc(100vh - 100px); //コンテンツの高さに関わらずフッターを最下段に表示
}

// トップ（PC・タブレット）
.top-movie{
  position:relative;
  .top-index-link{
    position:absolute;
    top: 75%;
    left: 50%;
      -ms-transform: translate(-50%,-50%);
      -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    margin:0;
    padding:0;
    a{
      font-weight:bold;
      color:white;
      padding:15px 40px;
      border-radius:40px;
      background:$accent-color;
      filter: drop-shadow(3px 3px 3px rgba(0,0,0,0.6));
    }
  }   
}

// トップ（スマホ）
@media(max-width: 768px){
  .top-movie{
    margin-top:50px;
    position:relative;
    .top-index-link{
      position:absolute;
      top: 75%;
      left: 50%;
        -ms-transform: translate(-50%,-50%);
        -webkit-transform: translate(-50%,-50%);
      transform: translate(-50%,-50%);
      margin:0;
      padding:0;
      a{
        font-weight:normal;
        font-size:10px;
        color:white;
        padding:5px 10px;
        border-radius:11px;
        background:$accent-color;
        filter: drop-shadow(1px 1px 1px rgba(0,0,0,0.6));
      }
    }   
  }
}

// サービス説明（PC・タブレット)
.service-wrapper{
  background:white;
  padding-bottom:50px;
  .service-heading{
    margin-top:100px;
    h2{
      font-family: 'Vampiro One', cursive;
      font-size:70px;
      color:$secondary-color;
      margin:0px;
    }
    p{
      font-size:15px;
    }
  }
  .service-description{
    margin-top:30px;
    p{
      margin-top:30px;
      font-size:15px;
    }
    span{
      display:block;
      margin:0 auto;
    }
  }
  .service-contents{
    .service-item{
      height:100%;
      margin:50px auto;
      .service-image{
        filter: drop-shadow(10px 10px 10px rgba(0,0,0,0.6));
        position:relative;
        padding:0;
        z-index:10;
        img{
        }
        .background{
          width:100%;
          height:100%;
          position:absolute;
          background:gray;
          z-index:1;
          opacity:0.1;
          top:3px;
          left:3px;
          z-index:0;
        }
      }
      .service-detail{
        h3{
          font-family:'Yellowtail';
          font-size:60px;
          color:$secondary-color;
          margin-top:0;
          margin-bottom:30px;
        }
        p{
          font-size:20px;
          margin:25px;

        }
        a{
          display:inline-block;
          font-weight:bold;
          color:white;
          padding:15px 40px;
          border-radius:22px;
          background:$accent-color;
          filter: drop-shadow(3px 3px 3px rgba(0,0,0,0.6));
        }
      }
    }
  }
  .angle{
    margin:0 auto;
    width:200px;
    padding-top:50px;
    p{
    font-size:15px;
    text-align:center;
    }
  }
}



// サービス説明(スマホ)
@media(max-width: 768px){
  .service-wrapper{
    margin-bottom:50px;
    .service-heading{
      margin-top:50px;
      h2{
        font-size:42px;
      }
      p{
        font-size:12px;
      }
    }
    .service-description{
      margin-top:30px;
      p{
        margin:30px;
        font-size:13px;
      }
    }
    .service-contents{
      margin-top:0;
      .service-item{
        margin:10px auto;
        .service-image{
          img{

          }
          .background{
          }
        }
        .service-detail{
          h3{
            font-size:40px;
            margin-top:30px;
            margin-bottom:30px;
          }
          p{
            font-size:14px;
            margin:25px;
          }
          a{
            display:inline-block;
            font-weight:bold;
            color:white;
            padding:15px 40px;
            border-radius:40px;
            background:$accent-color;
          }
        }
      }
    }
  }
}


// ご利用の流れ（PC・タブレット）
.flow-wrapper{
  margin-top:100px;
  .flow-heading{
    h2{
      font-family: 'Vampiro One';
      font-size:70px;
      color:$secondary-color;
      margin:0px;
    }
    p{
      font-size:15px;
    }
  }
  .flow-contents{
    margin-top:70px;
    .flow-item{
      height:100%;
      margin:0 auto;
      width:80%;
      img{
        margin-bottom:15px;
      }
      img:nth-child(2){
        position:absolute;
        top:70px;
        right:-20px;
      }
      h4{
        margin-bottom:15px;
      }
      p{
        font-size:14px;
      }
    }
  }
}
.index-link{
  margin-top:120px;
  a{
     font-weight:bold;
     color:white;
     padding:15px 40px;
     border-radius:40px;
     background:$accent-color;
     filter: drop-shadow(3px 3px 3px rgba(0,0,0,0.6));
  }
}


// ご利用の流れ(スマホ)
@media(max-width: 768px){
  .flow-wrapper{
    margin-top:50px;
    margin-bottom:50px;
    .flow-heading{
      h2{
        font-size:42px;
      }
      p{
        font-size:12px;
      }
    }
    .flow-contents{
      margin-top:50px;
      .flow-item{
        margin-bottom:50px;
        width:90%;
        img{
          width:40%;
        }
        h4{
          font-size:16px;
        }
        p{
          font-size:12px;
        }
      }
    }
  }
  .index-link{
    margin-top:50px;
    margin-bottom:50px;
    a{
      font-weight:bold;
      color:white;
      padding:15px 40px;
      border-radius:40px;
      background:$accent-color;
      filter: drop-shadow(3px 3px 3px rgba(0,0,0,0.6));
    }
  }
}



#modal-signup{
  margin-top:120px;
  margin-bottom:90px;
  .confirm{
    margin-top:30px;
    #submit{
      color:white;
      width:120px;
      height:40px;
      display:block;
      margin:15px auto;
      background:$accent-color;
    }
  }
}


#hero{
  background-size:cover;
  background-position:center center;
  background-attachment:fixed;
}
.hero, .content{
  text-align:center; 
  position:relative;
  width: 100%;
}
 
.inner{
  height:100vh;
  position: relative;
}
 
.mypage{
  .container{
   ul{
     margin-bottom:50px;
    li{
      
    }
    a:nth-child(1){
      display:block;
      margin-bottom:10px;
      color:black;
    }
   }
  }
}