// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// スライダー
.bx-wrapper{
  margin-bottom: 0;
  border: 0;
  box-shadow: none;
  background: #f7f8f9;
  .bx-pager{
    display:none;
  }
  .bx-prev{
    left:-80px;
  }  
  .bx-next{
    right:-80px;
  }
}

@media(max-width:768px){
  .bx-prev{
    display:none;
  }  
  .bx-next{
    display:none;
  }  
}


// 投稿一覧（PC）
.posts-index-wrapper{
  margin-top:90px;
  margin-bottom:90px;
  .posts-tag{
    margin-left:5px;
    h3{
      color:$primary-color;
      font-weight:normal;
    }
  }
  .more-posts-tag{
    margin-bottom:30px;
    h3{
      color:$primary-color;
      font-weight:normal;
    }
  }
  p{
    float:right;
  }
  .row{
    .item{
      .item-container{
        margin-bottom:50px;
        background:white;
        box-shadow: 2px 2px 2px 2px rgba(158,158,158,0.4);
        border-radius:3px;
        .movie-information{
          margin-left:10px;
          margin-top:15px;
          a{
            color:$primary-color;
          }
        }
        ul{
          margin: 0 15px 10px;
          padding: 0 0 10px;
          list-style:none;
          color:$sub-color;
          border-bottom:1px solid $sub-color;
          li{
            font-size:12px;
            display:inline-block;
          }
        }
        .user-information{
          padding:0;
          margin-top:5px;
          img{
            float:left;
            display:inline-block;
            width:30px;
            height:30px;
            border-radius:50%;
            position:relative;
          }
          a{
            float:left;
            color:$sub-color;
            line-height:30px;
            margin-left:10px;
            margin-bottom:0;
          }
        }
        .offer-link{
          margin-top:15px;
        }
      }
    }
  }
}


// 投稿詳細（PC）
.movie-show-wrapper{
  margin-top: 10vh;
  padding: 50px;
  width: 100%;
  .row{
    display: block;
    .item{
      .item-container{
        margin-bottom:50px;
        text-align: center;
        .vimeo {
            position: relative;
            height: 0;
            padding: 0 0 56.25%;
            overflow: hidden;
          iframe{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
          }  
          }
        .movie-information{
          h2{
            text-align:left;
            font-size:25px;
            line-height:35px;
            display:inline-block;
            float:left;
            margin-bottom:0;
          }
          .offer-link{
            margin-top:22px;
            display:inline-block;
            float:right;
          }
        }
        .user-information{
          img{
            float:left;
            border-radius:50%;
            width:40px;
          }
          h4{
            float:left;
            margin-left:15px;
          }
          dl{
            list-style:none;
            text-align:left;
            padding-top:30px;
            padding-bottom:10px;
            padding-left:10px;
            width:90%;
            dt{
              font-weight:normal;
              float:left;
              width:20%;
            }
            dd{
              opacity:0.7;
            }
          }
        }
        .comment-wrapper{
          float:left;
          width:100%;
          form{
            width:100%;
          input{
            float:left;
            width:70%;
            height:40px;
          }
          .btn{
            width:100px;
            float:right;
            margin:0;
          }
        }
        h4{
          text-align:left;
        }
        .content{
          text-align:left;
        }
        p{
          display:inline-block;
          margin-top:10px;
        }
      }
      }
    }
  .relevant-movie-wrapper{
    h4{
      text-align: center;
      margin-bottom:30px;
    }
    .movie-item{
      margin-bottom:30px;
      a{
        color:$secondary-color;
        margin-top:10px;
      }
    }
  }
  }
}


// 投稿一覧（スマホ）
@media(max-width:768px){
  .posts-index-wrapper{
    margin-top:70px;
    margin-bottom:70px;
    .posts-tag{
      margin-left:25px;
      h3{
        margin-bottom:20px;
      }
    }
    p{
    }
    .row{
      .bxslider{
        margin:0 15px;
        .item{
          .item-container{
            width:90%;
            .movie-information{
              h2{
              }
            }
            ul{
              li{
              }
            }
            .user-information{
              img:nth-child(1){
              }
              img:nth-child(2){
              }
              p{
              }
            }
            .offer-link{
              a{
              }
            }
          }
        }
      }
    }
  }
}


// 投稿詳細（スマホ）
@media(max-width:768px){
  .movie-show-wrapper{
    margin-top: 5vh;
    padding: 30px;
    .row{
      .item{
        .item-container{
          .vimeo {

            iframe{
            }  
          }
          .movie-information{
            h2{
              font-size:18px;
            }
          }
          .user-information{
            img{
              width:30px;
            }
            h4{
              margin:0;
              margin-left:10px;
              line-height:30px;
            }
            .offer-link{
              a{
                font-size:12px;
                padding:8px 30px;
              }
            }
            dl{
              list-style:none;
              text-align:left;
              margin:0 auto;
              padding-top:15px;
              padding-bottom:10px;
              padding-left:10px;
              width:100%;
              dt{
                font-weight:normal;
                float:left;
                width:30%;
              }
              dd{
                opacity:0.7;
              }
            }
          }
        }
      }
      .relevant-movie-wrapper{
        h4{
          text-align: center;
          margin-bottom:30px;
        }
        .movie-item{
          margin-bottom:30px;
          a{
            color:$secondary-color;
            margin-top:10px;
          }
        }
      }
    }
  }
}


// 動画投稿
.movies-new{
  margin-top:70px;
  .container{
    .form-heading{
      margin: 30px auto;
      font-size:20px;
      width:300px;
      background:rgba(158,158,158,0.3);
      padding:20px 0;
    }
    .movies-form{
      
    }
    p{
      
    }
    input{
      margin-bottom:15px;
      width:200px;
    }
    select{
      display:block;
      margin: 0 auto;
      width:200px;
      margin-bottom:50px;
    }
    .submit{
      font-weight:bold;
      color:white;
      background:$accent-color;
    }
  }
}