// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-index-wrapper{
  .about-rank{
    margin-bottom:70px;
  }
  .rank-tag{
    margin-left:5px;
    h3{
      color:$primary-color;
      font-weight:normal;
    }
  }
  p{
    float:right;
  }
  .row{
    .item{
      .item-container{
        position:relative;
        margin:0 auto;
        margin-bottom:50px;
        background:white;
        box-shadow: 2px 2px 2px 2px rgba(158,158,158,0.4);
        border-radius:3px;
      }
      img:first-child{
        position:absolute;
        top:10px;
        left:10px;
      }
      img:nth-child(2){
        margin-top:15px;
        // border-radius:50%;
        width:60%;
      }
      h2{
        font-weight:normal;
        font-size:14px;
      }
      a{
        font-size:12px;
        width:70%;
        display:inline-block;
        font-weight:normal;
        color:white;
        padding:10px 10px;
        margin-bottom:15px;
        border-radius:40px;
        background:$accent-color;
      }
      ul{
        border-top:1px solid $sub-color;
        list-style:none;
        text-align:left;
        margin:0 auto;
        padding-top:15px;
        padding-bottom:10px;
        padding-left:0;
        width:90%;
        li{
          padding-bottom:10px;
        }
      }
    }
  }
}

@media(max-width:768px){
  .user-index-wrapper{
    margin-top:90px;
    margin-bottom:70px;
    .about-rank{
      margin-bottom:40px;
    }
    .rank-tag{
      margin-left:25px;
      margin-bottom:20px;
      margin-top:50px;
      h3{
      }
    }
    p{
      float:right;
    }
    .row{
      .item{
        .item-container{
          width:90%;
          position:relative;
          margin:0 auto;
          margin-bottom:30px;
          background:white;
          box-shadow: 2px 2px 2px 2px rgba(158,158,158,0.4);
          border-radius:3px;
        }
        img:first-child{
          position:absolute;
          top:10px;
          left:10px;
        }
        img:nth-child(2){
          margin-top:15px;
          // border-radius:50%;
          width:60%;
        }
        h2{
          font-weight:normal;
          font-size:14px;
        }
        a{
          font-size:12px;
          width:70%;
          display:inline-block;
          font-weight:normal;
          color:white;
          padding:10px 10px;
          margin-bottom:15px;
          border-radius:40px;
          background:$accent-color;
        }
        ul{
          border-top:1px solid $sub-color;
          list-style:none;
          text-align:left;
          margin:0 auto;
          padding-top:15px;
          padding-bottom:10px;
          padding-left:0;
          width:90%;
          li{
            padding-bottom:10px;
          }
        }
      }
    }
  }
}

.user-show-wrapper{
  padding-bottom:70px;
  position:relative;
  .background{
    background-image: url("/user-background.jpg");
    background-size:cover;
    height:350px;
  }
  .container{
    .user-image{
      width:100px;
      height:100px;
      border-radius:50%;
      position:relative;
      top:-50px;
      margin-left:50px;
      img{
        width:100%;
        border-radius:50%;
      }
      h4{
        position:absolute;
        top:55px;
        left:110px;
      }
    }
    .row{
      .pilot-movie{
        width:500px;
        margin-left:70px;
      }
      .pilot-information{
        width:500px;
        position:relative;
        margin:0 auto;
        h4{
          margin-left:50px;
        }
        dl{
          list-style:none;
          text-align:left;
          margin-top:30px;
          margin-left:50px;
          width:100%;
          dt{
            font-weight:normal;
            float:left;
            width:30%;
          }
          dd{
           opacity:0.7;
          }
        }
        .offer-link{
          margin-top:30px;
          margin-left:50px;
        }
      }
    }
  }
  .message-wrapper{
    dl{
      list-style:none;
      text-align:left;
      margin-left:50px;
      width:100%;
      dt{
        font-weight:normal;
        float:left;
        width:30%;
      }
      dd{
       opacity:0.7;
      }
    }    
  }
  .relevantmovie-wrapper{
    h4{
      margin-bottom:30px;
      margin-left:50px;
    }
    width:100%;
    margin-top:50px;
    .movie-item{
      float:left;
      width:33%;
      display:inline;
      margin-bottom:30px;
      a{
        color:$secondary-color;
      }
    }
  }
}

@media(max-width:768px){
  .user-show-wrapper{
    .background{
      height:300px;
    }
    .user-image{
      width:100px;
      height:100px;
      top:-50px;
      img{
      }
    }
    .pilot-information{
      top:-50px;
      dl{
        list-style:none;
        text-align:left;
        margin:0 auto;
        padding-top:15px;
        padding-bottom:10px;
        padding-left:10px;
        width:90%;
        dt{
          font-weight:normal;
          float:left;
          width:20%;
        }
        dd{
          opacity:0.7;
        }
      }
    }
    .movie-wrapper{
      .row{

      }
    }
  }
}


// パイロット登録
.pilots-new{
  margin-top:70px;
  .container{
    .form-heading{
      margin: 30px auto;
      font-size:20px;
      width:300px;
      background:rgba(158,158,158,0.3);
      padding:20px 0;
    }
    .pilots-form{
      
    }
    p{
      
    }
    input{
      margin-bottom:15px;
      width:200px;
    }
    select{
      display:block;
      margin: 0 auto;
      width:200px;
      margin-bottom:50px;
    }
    .submit{
      font-weight:bold;
      color:white;
      background:$accent-color;
    }
    textarea{
      width:200px;
      display:block;
      margin:0 auto;
    }
  }
}
