<main>
    <h4>決済に成功しました！</h4>
    <div class="amount-confirm">
        <span>金額：<strong><%= @amount %>円</strong></span>
    </div>
    
    <p>HOWDY DRONEをご利用いただきありがとうございました。
    <br>ご不明な点・サービスの改善点等、お気軽に<a href="/contact">お問い合わせ</a>ください。</p>
    <a class="btn btn-primary" href="/">TOPに戻る</a>
</main>

