<main>
  <div class="heading">
    <div class="container text-center">
      <h2 class="mx-auto">サービス代金の決済</h2>
      <%= form_tag charges_path do %>
        <article>
          <% if flash[:error].present? %>
            <div id="error_explanation">
              <p><%= flash[:error] %></p>
            </div>
          <% end %>
          <label class="amount">
            <h3>合計金額をご確認の上「サービス代金のお支払い」を押して決済情報の入力フォームへとお進みください。</h3>
            <div class="amount-confirm">
              <span>合計金額: <%= @amount %>円 (消費税・手数料を含む)</span>
            </div>
            <p>※ 個人情報の取り扱いに関しては<a href="/privacy">プライバシーポリシー</a>をご参照ください。
            <br><br>お客様のカード情報は当サービスのサーバーを経由せず、直接外部サービス（<a href="/privacy">Stripe</a>)へ転送され、暗号化されます。
            <br>HOWDY DRONEが取得するお客様のカード情報は「カード番号の下４桁」「有効期限」「カードの発行元」です。</p>
          </label>
        </article>
      
        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                data-name="HOWDY DRONE"
                data-description="サービス代金のお支払い"
                data-amount="<%= @amount %>"
                data-locale="ja"
                data-currency="JPY"
                data-label="サービス代金のお支払い"
                data-allow-remember-me="false"
                ></script>
      <%= hidden_field_tag :amount, @amount %>
      <%= hidden_field_tag :pilot, @pilot %>
      <% end %>
            
    </div>
  </div>
</main>
