    <!-- footer -->
    <footer>
      <div class="footer-left">
        <div class="copy-right">
          <p>&copy HOWDY DRONE All rights reserved.</p>
        </div>
      </div>
      <div class="footer-right hidden-xs">
        <li><a href="/terms">利用規約</a></li>
        <li><a href="/privacy">プライバシーポリシー</a></li>
        <li><a href="/flow">ご利用までの流れ</a></li>
        <li><a href="/contact">お問い合わせ</a></li>
      </div>
    </footer>