    <header>
      <div class="header-left">
        <a href="/"><img src="/drone-w.png" alt="" width="28px">HOWDY DRONE</a>
      </div>
      <div class="header-right">
        <a href="/mypage"><p id="modal-open">マイページ</p></a> <!--ログイン前-->
        <img id="menu-modal-open" src="/menu-w.png" alt="" width="28px;">
      </div>
    </header>
    
    