<!doctype html>
<html lang="ja"> <!--言語設定-->
  <head>
    <meta charset="utf-8">  <!-- 文字コード -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">  <!-- レスポンシブ 576px:sm  768px:md  992px:lg  1200px:xl -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> <!-- Bootstrap CSS -->
    <title></title> <!--タイトル-->
    <link rel="icon" href="/"> <!--タブアイコン-->
    <link href="https://fonts.googleapis.com/css?family=Vampiro+One" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous"> <!--font-awsome読み込み-->
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'%> <!--css読み込み-->
    <%= javascript_include_tag 'application'%>  <!--js読み込み-->
  </head>

  <body>
    <% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
    <% end %>
    
    <%= yield %>

    <!-- header -->
      <% if user_signed_in? %>
        <%= render 'layouts/out-navbar' %>　<!--ログイン後-->
      <% else %>
        <%= render 'layouts/in-navbar' %>　　<!--ログイン前-->
      <% end %>
      
          
    <!-- footer -->
    <footer>
      <div class="footer-left">
        <div class="copy-right">
          <p>&copy HOWDY DRONE All rights reserved.</p>
        </div>
      </div>
      <div class="footer-right hidden-xs">
        <li><a href="/terms">利用規約</a></li>
        <li><a href="/flow">ご利用までの流れ</a></li>
        <li><a href="/ctl">特定商取引法に基づく表示</a></li>
        <li><a href="/privacy">プライバシーポリシー</a></li>
        <li><a href="/contact">お問い合わせ</a></li>
      </div>
    </footer>

      <!-- menuモーダルウインドウ -->
      <div id="menu-modal-main">
        <div class="container text-center">
          
          <% if user_signed_in? %>
            <a href="/mypage">マイページ</a>
          <% else %>
            <a href="/">トップページ</a>
          <% end %>
          <a href="/movies/index">投稿一覧</a>
          <% if can? :update, movies_new_url %>
            <a href="/movies/new">動画投稿</a>
          <% end %>
          <!--<a href="/pilots/index">パイロット一覧</a>-->
          <% if can? :update, pilots_new_url %>
            <a href="/pilots/new">パイロット登録</a>
          <% end %>
          <a href="/terms">利用規約</a>
          <a href="/flow">ご利用までの流れ</a>
          <a href="/ctl">特定商取引法に基づく表示</a>
          <a href="/privacy">プライバシーポリシー</a>
          <a href="/contact">お問い合わせ</a>
          <% if user_signed_in? %>
            <a><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class:"logout" %> <!--ログイン後--></a>
          <% end %>
        </div>
        <div id="menu-modal-close">
          <img src="/close.png" alt="" width="30px">
        </div>
      </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> <!--jQuery読み込み-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>  <!--bootstrap読み込み-->
  </body>
</html>
