<!DOCTYPE html>
<html>
  <head>
    <style type="text/css">
      <!--
        main{
          margin:100px auto;
          text-align:center;
        }
        h2{
          display:inline-block;
          margin:0 auto;
          font-size:20px;
          width:300px;
          background:rgba(158,158,158,0.3);
          padding:20px 0;
          font-weight:normal;
          margin-bottom:30px;
        }
        h3{
          font-weight:normal;
          font-size:1vw;
          margin-bottom:70px;
        }
        h4{
          font-weight:normal;
          font-size:2vw;
        }
        .amount-confirm{
          margin:0 auto;
          width:380px;
          background:rgba(158,158,158,0.1);
          padding:20px 0;
        }
        span{
          font-weight:bold;
        }
        p{
          margin-top:70px;
          margin-bottom:50px;
          font-size:0.9vw;
          opacity:0.8;
        }
        .top-link a{
          display:block;
          color:black;
          font-size:1.0vw;
          /*text-decoration:none;*/
          margin-bottom:30px;
        }
        .top-link a:hover{
          opacity:0.7;
        }
      -->
    </style>
  </head>
  <body>
    <%= yield %>
  </body>
</html>